<section class="py-1">
    <h1 class="text-center my-3">Thanks for your purchase!</h1>
    <p class="lead my-3 text-center">The product you purchased will be delivered to you within 1 week.</p>
    <br>
    <a href="/" class="btn btn-info btn-link btn-lg">back</a>

</section>